table {
    width: 100%;
}

.table-container {
    width: 100%;
}

.table-conten {
    padding-left: 2%;
}

.button-new {
    align-items: center;
    padding-left: 15%;
}

.button-delete {
    background-color: #ec407a;
    color: white;
}

.button-edit {
    background-color: #9c27b0;
    color: white;
}

.mat-elevation-z8 {
    align-items: center;
}

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-align: center;
}

.mat-column-numero {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-fechaPago {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

x .mat-column-cedulaPaciente {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-nombrePaciente {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-seguro {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-tratamiento {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-valorPago {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 9% !important;
    width: 9% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.mat-column-accion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 23% !important;
    width: 23% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}