<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Nuevo Pago</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<br>
<div class="form-container" style="text-align: center">
    <form [formGroup]="pagoForm" (ngSubmit)="savePago(pagoForm.value)">
        <input type="hidden" formControlName="id">
        <mat-form-field style="text-align: center; width: 40%;">
            <input matInput [matDatepicker]="picker1" placeholder="Fecha de pago" formControlName="fechaPago">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="pagoForm.invalid">{{errorMessageDate()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 40%; text-align: center;">
            <input (keydown)="check($event)" placeholder="Cédula del paciente" matInput formControlName="cedulaPaciente" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let paciente of filteredOptions | async ; let i = index" [value]="paciente">
                    {{paciente['cedula']}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="pagoForm.invalid">{{'Campo Obligatorio'}}</mat-error>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field style="width: 50%; text-align: center;">
            <input matInput formControlName="nombrePaciente" placeholder="Nombres y Apellidos" readonly>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%; text-align: center;">
            <input matInput formControlName="seguro" placeholder="Seguro" readonly>
        </mat-form-field>
        &nbsp;
        <mat-form-field style="width: 50%; text-align: center;">
            <input matInput formControlName="tratamiento" placeholder="Tratamiento" readonly>
        </mat-form-field><br>
        <mat-form-field class="inputWidth">
            <input matInput placeholder="Valor Total $" formControlName='valorPago'>
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <br>
        <mat-form-field class="inputWidth">
            <input matInput placeholder="Ultimo valor cancelado $" formControlName='ultimoValorCancelado'>
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <br>
        <mat-form-field class="inputWidth">
            <input matInput placeholder="Valor a Pagar" formControlName='valorPagar'>
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="pagoForm.invalid">{{errorMessageValor()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="inputWidth">
            <input matInput placeholder="Valor pendiente" formControlName='valorPendiente'>
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <br>
        <div style="text-align: center;">
            <button mat-raised-button color="primary" type="submit" [disabled]="pagoForm.invalid">Guardar</button>&nbsp;
            <button mat-raised-button color="primary" type="button" (click)="this.close()">Cancelar</button>
        </div>
    </form>
</div>