<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Nueva Especialidad</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div class="form-container" style="text-align: center">
  <form [formGroup]="especialidadForm" (ngSubmit)="onSaveEspe(especialidadForm.value)">

    <input type="hidden" formControlName="id">

    <mat-form-field class="inputWidth">
      <input matInput formControlName="nombre" placeholder="Nombre de la Especialidad">
      <mat-error *ngIf="especialidadForm.invalid">{{msgValidateNombre()}}</mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="especialidadForm.invalid">Guardar</button>&nbsp;
      <button mat-raised-button color="primary" type="button" (click)="close()">Cancelar</button>
    </div>
  </form>
</div>
