<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="img-inicio">
    <img src="../../../../assets/logo.jpeg" class="img-header">
    <mat-toolbar color="primary">
      <span>Recuperar Contraseña</span>
    </mat-toolbar>
  </div>
  <br>
  <mat-card class="admin-card">
    <div style="text-align: center">
      <h3>Por favor ingrese la dirección de correo electrónico para recuperar la contraseña: </h3>
      <div>
        <form [formGroup]="resetPassForm" (submit)="sendEmail()">
          <mat-form-field class="inputWidth">
            <input formControlName="email" type="email" matInput placeholder="Correo electrónico">
            <mat-icon matSuffix color>email</mat-icon>
            <mat-error *ngIf="resetPassForm.invalid">{{msgValidateEmail()}}</mat-error>
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary" type="submit">Recuperar Contraseña</button>
        </form>
        <br>
        <br>
        <button mat-raised-button color="basic" routerLink='/inicioSesion' type="button">Cancelar</button>
      </div>
    </div>
  </mat-card>
</body>

</html>
