.form-container{
  width: 700px;
  margin: auto;
}

.select{
  padding-left: 50px;
  width: 50%;
  text-align: center;
}

.inputData{
  width: 60%;
  text-align: center;
}

span {
  display:block;
  text-align:center;
  width:100%;
}

.avatar-upload {
  position: relative;
  left: 35px;
  max-width: 205px;
  margin: 10px auto 30px;
}
.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid white;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}
.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
