<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Desea eliminar el odontologo ? </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="form-container" style="text-align: center;padding-top:20px;">
    <div style="text-align: center;">
        <button mat-raised-button color="primary" type="button" (click)="borrarOdontologo()">Aceptar</button>&nbsp;
        <button mat-raised-button color="primary" type="button" (click)="close()">Cancelar</button>
    </div>
</div>