<ng-container *ngIf="mostrarComponente">
  <div>
    <img src="../../../../assets/logo.jpeg" class="img-header">
  </div>
    <mat-toolbar color="primary">
      <span>RESTABLECER LA CONTRASEÑA</span>
    </mat-toolbar>
  <br>
  <mat-card class="card">
    <div>
      <h3>Por favor ingrese la nueva contraseña: </h3>
      <div>
        <form novalidate [formGroup]="resetPassForm" (submit)="resetPass()">
          <mat-form-field>
            <input id="newpass" name="newpass" formControlName="newpass" [type]="hideNew ? 'text' : 'password'" matInput placeholder="Nueva Contraseña">
            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew" type="button">
                <mat-icon>{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <br>
            <mat-error *ngIf="resetPassForm.invalid">{{msgValidateNewPass()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input id="confirmpass" name="confirmpass"  formControlName="confirmpass" [type]="hideConfirm ? 'text' : 'password'" matInput placeholder="Confirmar Contraseña">
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm" type="button">
                <mat-icon>{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <mat-error *ngIf="resetPassForm.invalid">{{msgValidateComfirmPass()}}</mat-error>
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary" type="submit" [disabled]="resetPassForm.invalid">Restablecer Contraseña</button>
        </form>
      </div>
  
    </div>
  </mat-card>
</ng-container>
